@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../Content/Master.css" />
    <title>Welcome</title>
</head>
<body>
    <div id="container">
        <div id="headerHolder">
            @Html.Partial("_Header")
        </div>
        <div id="menuHolder">
            @Html.Partial("_Menu")
        </div>
        <div id="leftSidebarHolder">
            @Html.Partial("_LeftSidebar")
        </div>
        <div id="mainContentHolder">
            @RenderBody()
        </div>
        
        <div id="rightSidebarHolder">
            @Html.Partial("_RightSidebar")
        </div>
        <div id="footerHolder">
       @*     @Html.Partial("_Footer")*@
        </div>
    </div>
    <script type="text/javascript" src="../../Scripts/Main.js" ></script>
</body>
</html>
